body {
	background: no-repeat url('../images/background-480.jpg') fixed center center;
	background-size: cover;
}

@media screen and (min-width: 480px) {
	body {
		background: no-repeat url('../images/background-768.jpg') fixed center center;
	} 
}

@media screen and (min-width: 768px) {
	body {
		background: no-repeat url('../images/background-1024.jpg') fixed center center;
	} 
}

@media screen and (min-width: 1024px) {
	body {
		background: no-repeat url('../images/background-1240.jpg') fixed center center;
	} 
}

@media screen and (min-width: 1240px) {
	body {
		background: no-repeat url('../images/background-1920.jpg') fixed center center;
	} 
}

.page-enter-active,
.page-leave-active {
	transition: all .5s;
}

.page-enter,
.page-leave-active {
	opacity: 0;
	transform: scale(0);
}

.tape-heading {
	position: relative;
	z-index: 2;
}

.tape-heading:before {
	content: '';
	background: #fff;
	opacity: .85;
	transform: rotate(-3deg);
	position: absolute;
	top: -15px;
	bottom: -15px;
	left: -30px;
	right: -30px;
	z-index: -1;
}
